* {
			box-sizing: border-box;
/*			background-color: #1a1a1a;*/
			font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
        html{
            background-image: url("background.jpg");
            background-size: cover;
        }
		h1 {
			color: #f2f2f2;
			font-weight: 300;
		}
        h1 img {
            max-width: 50px;
            vertical-align: bottom;
        }
        .link {
            font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.3em;
            text-decoration: none;
            color: #2196F3;
            display: inline-block;
            padding-bottom: 1%;
        }
		.wrapper {
			margin: 0 auto;
			text-align: center;
		}
		.title {
			font-weight: bold;
			font-size: 1.1em;
			color: white;
		}
		figure img {
			min-width: 300px;
            max-height: 300px;
			padding: 4px;
		}
		figcaption {
			font: 1.1em;
			color: #f2f2f2;
			text-align: center;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
			max-width: 310px;
		}
		figure {
			display: inline-block;
			vertical-align: top;
			margin: 0 10px 10px 10px;
		}
        .selected {
            box-shadow:0px 12px 22px 1px #333;
            background-color: green;
            color: green;
        }
        form {
            margin-bottom: 1%;
        }
        input {
            background-color: white;
            font-size: 1em;
        }
        input[type="submit"] {
            margin-left: 1%;
            border-radius: .5em;
            font-size: 1.1em;
            color: #2196F3;
            background-color: white;
        }
        input#login {
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-top: 1%;
        }
        label {
            color: #2196F3;
            font-size: 1.3em;
            font-weight: 600;
        }
		
		@media screen and (min-width: 780px){
			figure {
				width: 39%;
			}
		}
		
		@media screen and (min-width: 1042px){
			figure {
				width: 30%;
			}
		}
		
		@media screen and (min-width: 1440px){
			figure {
				width: 21%;
			}
		}